@import "tailwindcss";
@import "tw-animate-css";

:root{
  --primary-color : #c296e7;
  --secondary-color : #32496E;
  --third-color : #4C6DD1;
}

.max_width{
  max-width : 1100px
}

.playfair{
  font-family: var(--font-playfair);
}
